{
	"ignorePatterns": ["*.min.*", "node_modules/**/*", "*out*"],
	"plugins": ["react-refresh"],
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"rules": {
		"prefer-template": "error"
	}
}
